<footer class="app-footer">
	<div class="footer-brand">
		<h5>Knguyen-dev <%= new Date().getFullYear() %></h5>
	</div>
	<nav class="nav">
		<ul class="nav-list">
			<li><a href="" target="_blank" rel="noreferrer">Github</a></li>
		</ul>
	</nav>
</footer>
